:root {
  --colorA: #509acc;
  --colorB: #aff0ee;
  --colorC: #92b0e0;
  --colorD: #284d88;
  --danger-color: #853840;
  --success-color: #3b6b46;
  --dark-text-color: #323233;
  --light-text-color: #ffffff;
  --background-color: #ffffff;
  --dark-background-color: #000000;

  --main-text-shadow: 0.1rem 0.1rem 0.2rem black;

  --fs-xxl: 4.5rem;
  --fs-xl: 3.5rem;
  --fs-lg: 2.5rem;
  --fs-md: 2rem;
  --fs-s:  1.5rem;
  --fs-xs: 1rem;

  background-color: var(--background-color);
  overflow-x: hidden;
  overflow-y: auto;
  height: 100svh;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

@media(max-width: 800px){
  body{
    --fs-xxl: 3.5rem;
    --fs-xl: 3rem;
    --fs-lg: 2rem;
    --fs-md: 1.5rem;
    --fs-s:  1rem;
    --fs-xs: 0.5rem;
  }
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}
