<nav class="navbar" [ngClass]="{'hidden': !isNavbarVisible}">
  <img class="navbar-brand" src="assets/images/navLogo1.png" alt="Logo" />

  <div class="navbar-toggle" (click)="toggleNavbar()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <ul class="navbar-links" [ngClass]="{'active': isNavbarActive}">
    <li><a routerLink="/" routerLinkActive="active" class="navbar-link">HOME</a></li>
    <li><a routerLink="/services" routerLinkActive="active" class="navbar-link">SERVICES</a></li>
    <li><a routerLink="/locations" routerLinkActive="active" class="navbar-link">LOCATIONS</a></li>
    <li><a routerLink="/careers" routerLinkActive="active" class="navbar-link">CAREERS</a></li>
  </ul>
</nav>
