<div class="max-height">
  <img class="home-background" src="assets/images/HeaderImage.png" alt="home">
  <div class="overlay"></div>
  <div class="content">
    Bringing the doctors office to you!
    <div class="under-text">
      Available Monday to Friday, 8:00 AM - 5:00 PM
    </div>
    <div class="buttons">
      <button class="button-28" role="button">Register</button>
      <button class="button-28" role="button">Contact</button>
    </div>
  </div>
</div>

<div class="info-container">
  <div class="info-text">
    Why Mobile One Docs?
  </div>
  <div class="info-cards">
    <div class="info-card">
      <img src="assets/images/header-icon2.png" alt="Icon 1" class="card-icon">
      <div class="info-card-header">Convenience</div>
      <div class="info-card-text">
        Skip the long waits and crowded hospitals by having a trusted mobile doctor come directly to your home,
        offering personalized care at your convenience. Experience hassle-free healthcare with the flexibility to receive treatment in the comfort and safety of your own space.
      </div>
    </div>
    <div class="info-card">
      <img src="assets/images/header-icon3.png" alt="Icon 2" class="card-icon">
      <div class="info-card-header">Personalized care</div>
      <div class="info-card-text">
        Ensuring that your unique health needs are met with tailored treatments and a doctor who truly understands your situation. By focusing on you as an individual,
        personalized care fosters trust, improving outcomes and making every visit more effective and comfortable.
      </div>
    </div>
    <div class="info-card">
      <img src="assets/images/header-icon1.png" alt="Icon 3" class="card-icon">
      <div class="info-card-header">Locations</div>
      <div class="info-card-text"></div>
    </div>
  </div>
</div>

