<div class="container">
  <div class="footer-column">
    <div class="header-text">Explore</div>
    <a routerLink="/terms" class="link">Terms & Conditions</a>
    <a routerLink="/privacy" class="link">Privacy Policy</a>
    <a href="https://app.chartrequest.com/m/mobileonedocs" target="_blank" class="link">Medical Records</a>
  </div>

  <div class="footer-column">
    <div class="header-text">Social Media</div>
    <div class="link">
      <a href="https://www.instagram.com/mobileonedocs/?hl=en" target="_blank">
        <img src="../../assets/images/instagramIcon.png" alt="Instagram Icon" class="icon" />
        Instagram
      </a>
    </div>
    <div class="link">
      <a href="https://www.facebook.com/p/Mobile-One-Docs-100063760922214/" target="_blank">
        <img src="../../assets/images/facebookIcon.png" alt="Facebook Icon" class="icon" />
        Facebook
      </a>
    </div>
    <div class="link">
      <a href="https://x.com/mobileonedocs" target="_blank">
        <img src="../../assets/images/twitterIcon.png" alt="Twitter Icon" class="icon" />
        Twitter
      </a>
    </div>
  </div>

  <div class="footer-column">
    <div class="header-text">Contact Us</div>
    <div class="link">
      <img src="../../assets/images/phoneIcon.png" alt="Twitter Icon" class="icon" />
      (888) 709-8721
    </div>
    <div class="link">
      <img src="../../assets/images/gmailIcon.png" alt="Twitter Icon" class="icon" />
      info&#64;mobileonedocs.com
    </div>
  </div>
</div>
